<!DOCTYPE html>
<html>
<head>
    <title>乔先生&amp;博客</title>
    {% load static %}
    {% load blog_tags %}
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <link rel="short cut" href="{% static 'blog/img/icon.png'%}">
    <link rel="bookmark" href="{% static 'blog/img/icon.png'%}">
    <link rel="icon" href="{% static 'blog/img/icon.png'%}">
    <!-- js -->

    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/ab.js' %}"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'blog:index' %}"><b>Mr.Qiao</b>的 博客</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于我">关于我</a></li>
                            <li class="cl-effect-11"><a href="http://mp.weixin.qq.com/mp/homepage?__biz=Mzg4NzA3MzYxNg==&hid=1&sn=b12c499c2ba478342face92b466c93cc&scene=18#wechat_redirect" data-hover="听音乐">听音乐</a></li>
                            <li class="cl-effect-11"><a href="http://mp.weixin.qq.com/mp/homepage?__biz=Mzg4NzA3MzYxNg==&hid=2&sn=cccc895a6361d9b1f8c47debbbd80708&scene=18#wechat_redirect" data-hover="Q侃NBA">Q侃NBA</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<div class="copyrights">Collect from <a href="#"></a></div>
<div class="copyrights">Modified by <a href="#">Mr.Qiao的博客</a></div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">


                {% block main %}

                {% endblock %}

            </main>
            <aside class="col-md-4">

                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% get_recent_posts as recent_post_list %}
                        {% for foo in recent_post_list %}
                            <li>
                                <a href="{{ foo.get_absolute_url }}">{{ foo.title }}</a>
                            </li>
                        {% empty %}
                            <li>no content</li>
                            
                        {% endfor %}

                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% archives as date_list %}
                        {% for date in date_list %}
                            <li>
                                <a href="{% url 'blog:archieves' date.year date.month %}">{{ date.year }}
                                    年 {{ date.month }} 月</a>
                            </li>
                        {% empty %}
                            <li>no content</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% get_categories as categotys %}
                        {% for cate in categotys %}
                            <li>
                                <a href="{% url 'blog:category' cate.pk %}">{{ cate.name }}<span
                                        class="post-count"></span></a>
                            </li>
                        {% empty %}
                            <li>no content</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% get_tags as tags %}
                        {% for tag in tags %}
                            <li>
                                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                            </li>
                        {% empty %}
                            <li>no content</li>
                        {% endfor %}

                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright"><a href="http://www.cssmoban.com/"
                                                        target="_blank" title="乔先生的博客"></a>
                    - 由<a href="{% url 'blog:index' %}" title="乔世帅" target="_blank">乔先生的博客</a> 发表 -
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{%  url 'blog:index' %}">首页</a></li>
            <li><a href="{%  url 'blog:about' %}">关于我</a></li>
            <li><a href="http://mp.weixin.qq.com/mp/homepage?__biz=Mzg4NzA3MzYxNg==&hid=1&sn=b12c499c2ba478342face92b466c93cc&scene=18#wechat_redirect">听首歌</a></li>
            <li><a href="http://mp.weixin.qq.com/mp/homepage?__biz=Mzg4NzA3MzYxNg==&hid=2&sn=cccc895a6361d9b1f8c47debbbd80708&scene=18#wechat_redirect">Q侃NBA</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>
